<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 添加分类 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="/admin/styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="catelist">商品分类</a></span>
<span class="action-span1"><a href="javascript:void(0)">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 添加分类 </span>
<div style="clear:both"></div>
</h1>

<div class="main-div">
  <form action="/admin/cateedit" method="post" name="theForm" enctype="multipart/form-data">
  <table width="100%" id="general-table">
      <tr>
        <td class="label">分类名称:</td>
        <td>
          <input type='text' name='cat_name' maxlength="20" value="<%=cate.cat_name%>" size='27' /> <font color="red">*</font>
        </td>
      </tr>
      <tr>
        <td class="label">上级分类:</td>
        <td>
          <select name="parent_id">
          			<option value="0" <%=cate.parent_id == 0 ? "selected" : ""%>>无</option>
          		<%for(var k in tree){%>
                   <option value="<%=tree[k]._id%>" <%=tree[k]._id == cate.parent_id?"selected":""%>>
                   	<%for(var i=0; i<tree[k].level; i++){%>&nbsp;<%}%>
                   	<%=tree[k].cat_name%>
                   </option>
          		<%}%>
            </select>
        </td>
      </tr>
      <tr>
        <td class="label">分类描述:</td>
        <td>
          <textarea name='cat_desc' rows="6" cols="48"><%=cate.intro%></textarea>
        </td>
      </tr>
      </table>
      <div class="button-div">
      	<input type="hidden" name="cat_id" value="<%=cate._id%>"/>
        <input type="submit" value=" 确定 " />
        <input type="reset" value=" 重置 " />
      </div>
  </form>
</div>

<div id="footer">
    本站使用Node.js + express + mongodb 提供强劲动力<br />
    版权所有 &copy; 2010-2017 zengming QQ:243786753，并保留所有权利。
</div>
</body>
</html>