<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 商品分类 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="/admin/styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="cateadd">添加分类</a></span>
<span class="action-span1"><a href="javascript:void(0)">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品分类 </span>
<div style="clear:both"></div>
</h1>
<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">

<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
  <tr>
    <th>分类名称</th>
    <th>简介</th>
    <th>数量单位</th>
    <th>导航栏</th>
    <th>是否显示</th>
    <th>价格分级</th>
    <th>排序</th>
    <th>操作</th>
  </tr>
  <style>
	tr{background: white;}
  tr:hover{	background:#aaa; }
  td{	background:inherit !important;  }
  </style>
  <% for(var i in tree){ %>
    <tr align="center" class="tree" id="0_1" id = 'tr_1'>
    <td align="left" class="" style='font-weight: bold;padding-left:<%=tree[i].level%>em'>
    			<img src="/admin/images/menu_minus.gif" id="icon_0_1" width="9" height="9" border="0" style="margin-left:0em" />
	            <span><a href="javascript:void(0)" ><%=tree[i].cat_name%></a></span>
    </td>
    <td width="10%"><%=tree[i].intro%></td>
    <td width="10%"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
    <td width="10%"><img src="/admin/images/<%=tree[i].parent_id==0?'yes':'no'%>.gif" /></td>
    <td width="10%"><img src="/admin/images/yes.gif" /></td>
    <td><span>5</span></td>

    <td width="10%" align="right"><span>50</span></td>
    <td width="24%" align="center">
      <a href="/admin/cateedit?_id=<%=tree[i]._id%>">编辑</a> |
      <a href="/admin/catedel?_id=<%=tree[i]._id%>" >移除</a>
    </td>
  </tr>
  <% } %>
  </table>
</div>
</form>

<div id="footer">
  本站使用Node.js + express + mongodb 提供强劲动力<br />
  版权所有 &copy; 2010-2017 zengming QQ:243786753，并保留所有权利。
</div>

</body>
</html>