<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 商品列表 </title>
<meta name="robots" c>
<meta http-equiv="Content-Type" c />
<link href="/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="/admin/styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="goodsadd">添加新商品</a></span>
<span class="action-span1"><a href="javascript:void(0)">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品列表 </span>
<div style="clear:both"></div>
</h1>

<div class="form-div">

  <form action="/admin/goodslist" method="get" name="searchForm">
    <img src="/admin/images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
      
    <select name="cat_id">
   		 <option value="">所有分类</option>
   		 <% tree.forEach(function(t){ %>
   		 	<option value="<%=t._id%>" <%= (t._id == cat_id) ? "selected":""%>>
   		 		<%for(var i=0; i<t.level; i++){%>&nbsp;<%}%>
   		 		<%=t.cat_name%>
   		 	</option>
   		 <% }); %>
    </select>

   
    <select name="brand_id" disabled><option value="0">所有品牌</option><option value="1">诺基亚</option><option value="10">金立</option><option value="9">联想</option><option value="8">LG</option><option value="7">索爱</option><option value="6">三星</option><option value="5">夏新</option><option value="4">飞利浦</option><option value="3">多普达</option><option value="2">摩托罗拉</option><option value="11">  恒基伟业</option></select>

    
    <select name="intro_type" disabled><option value="0">全部</option><option value="is_best">精品</option><option value="is_new">新品</option><option value="is_hot">热销</option><option value="is_promote">特价</option><option value="all_type">全部推荐</option></select>
         
     
    <select name="suppliers_id" disabled><option value="0">全部</option><option value="1">北京供货商</option><option value="2">上海供货商</option></select>

            
    <select name="is_on_sale" disabled><option value=''>全部</option><option value="1">上架</option><option value="0">下架</option></select>
      
    关键字 <input type="text" name="keyword" size="15" disabled/>
    <input type="submit" value=" 搜索 " class="button" />
  </form>
</div>
<form method="post" action="" name="listForm" >

  <div class="list-div" id="listDiv">
    <style>
      /*.id-cell{width:200px;font-family: Courier, monospace;}*/
    </style>
<table cellpadding="3" cellspacing="1">
  <tr>
    <th class="id-cell">
      <a href="?sortTime=<%= sortTime == 'D' ? 'A' : 'D'%>">发布时间</a>
      <img src="/admin/images/sort_<%= sortTime == 'D' ? 'desc' : 'asc'%>.gif"/>
    </th>

    <th><a href="javascript:void(0)">商品名称</a></th>
    <th><a href="javascript:void(0)">价格</a></th>
    <th><a href="javascript:void(0)">上架</a></th>
    <th><a href="javascript:void(0)">精品</a></th>
    <th><a href="javascript:void(0)">新品</a></th>

    <th><a href="javascript:void(0)">热销</a></th>
    <th><a href="javascript:void(0)">库存</a></th>
    <th>操作</th>
  </tr>
<%goods.forEach(function (gs) { %>
  <tr>
    <td class="id-cell"><input type="checkbox" name="checkboxes[]" value="32" /><%=toDateStr(gs.createdAt)%></td>
    <td class="first-cell" style="text-align:left"><span ><%=gs.goods_name%></span></td>
    <td align="right"><span ><%=gs.shop_price%></span></td>
    <td align="center"><img src="/admin/images/<%=gs.is_on_sale ? "yes":"no"%>.gif"  /></td>
    <td align="center"><img src="/admin/images/<%=gs.is_best ? "yes":"no"%>.gif"  /></td>
    <td align="center"><img src="/admin/images/<%=gs.is_new ? "yes":"no"%>.gif"  /></td>
    <td align="center"><img src="/admin/images/<%=gs.is_hot ? "yes":"no"%>.gif"  /></td>

    <td align="right"><span ><%=gs.goods_number%></span></td>
    <td align="center">
      <a href="/goods?_id=<%=gs._id%>" target="_blank" title="查看"><img src="/admin/images/icon_view.gif" width="16" height="16" border="0" /></a>
      <a href="javascript:void(0)" title="编辑"><img src="/admin/images/icon_edit.gif" width="16" height="16" border="0" /></a>
      <a href="/admin/goodsdel?_id=<%=gs._id%>"  title="回收站"><img src="/admin/images/icon_trash.gif" width="16" height="16" border="0" /></a>
    </td>
  </tr>
<%})%>
      </table>
    <style>
      .page {font-size: 1.5em;}
      .page .num,.page .current{margin: 2px;}
      .page .current{color: red;font-weight: bold;}
    </style>
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
     <%-page%>
    </td>
  </tr>

</table>

</div>
</form>

<div id="footer">
  本站使用Node.js + express + mongodb 提供强劲动力<br />
  版权所有 &copy; 2010-2017 zengming QQ:243786753，并保留所有权利。
</div>
</body>
</html>