<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
<head>
    <meta name="Generator" content="手机网" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <title>
        GSM手机_手机类型_ECSHOP演示站 - Powered by ECShop
    </title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" href="animated_favicon.gif" type="image/gif" />
    <link href="/css/index.css" rel="stylesheet" type="text/css" media="screen"
    />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/common.js"></script>
</head>
    
<body>
    <% include header%>
    <div id="body">
        <div class="body_l">
            <div class="subsearch">
                <form id="searchForm" name="searchForm" method="get" action="search.php"
                    onSubmit="return checkSearchForm()">
                    <div>
                        <input name="keywords" type="text" id="keyword" value="" class="searchmobile">
                        <button class="menu_button" name="menu_button" onClick="return false">
                        </button>
                    </div>
                </form>
            </div>
            <script type="text/javascript">
                function checkSearchForm() {
                    if (document.getElementById('keyword').value) {
                        return false;
                    } else {
                        alert("请输入搜索关键词！");
                        return false;
                    }
                }
            </script>
            <div class="subnav_header">
            </div>
            <script type="text/javascript">
            function menu_c(o) {
                alert(o.getElementsByTagName('ul').length);
            }
            </script>
            <div class="subnav">
				<% include subnav %>
            </div>
            <div class="subinfo_header">
                <div class="left subinfo_header_left">
                    <a href="javascript:void(0)">
                    </a>
                </div>
                <!--<div class="right subinfo_header_right"><a href="javascript:void(0)">更多</a></div>-->
            </div>
            <div class="subinfo_body">
                <ul>
                    <li style="width:175px; overflow:hidden">
                        <a href="javascript:void(0)" title="很好，我很喜欢" style="color:#333333">
                            很好，我很喜欢
                        </a>
                        <br />
                        <a style="color:#333333">
                            ecshop
                        </a>
                    </li>
                </ul>
            </div>
            <div class="subinfo_footer">
            </div>
            <div class="subinfo_header">
                <div class="subinfo_header_left_top10">
                    &nbsp;
                    <a href="javascript:void(0)">
                    </a>
                </div>
            </div>
            <div class="subinfo_body_top10">
                <ul>
            <foreach name="history" item="h">
                    <li>
                        <div class="subinfo_body_top10_l">
                            <a href="{:U('Home/Index/goods',array('goods_id'=>$h['goods_id']))}">
                                <img src="__ROOT__/{$h.thumb_img}" alt=""
                                class="samllimg" />
                            </a>
                        </div>
                        <div class="subinfo_body_top10_r">
                            <p class="subinfo_body_top10_r_1">
                                <a href="{:U('Home/Index/goods',array('goods_id'=>$h['goods_id']))}">
                                	{$h.goods_name}
                                </a>
                            </p>
                            <p class="subinfo_body_top10_r_3">
                                ￥{$h.shop_price}元
                            </p>
                        </div>
                        <div class="clear">
                        </div>
                    </li>
            </foreach>
                </ul>
            </div>
            <div class="subinfo_footer">
            </div>
            <div class="submessage_header">
                &nbsp;
            </div>
            <div class="submessage_body">
                <a href="javascript:void(0);" target="_blank">
                    <img src="/images/message.gif">
                </a>
            </div>
            <div class="subinfo_footer">
            </div>
        </div>
        <div class="body_r" style=" display:inline">
            <div class="mainbig">
                <img src="/images/banner.jpg" />
            </div>
            <div class="clear">
            </div>
            <div class="mainheader">
                <div class="weekbuy">
                    <a href="javascript:void(0)">
                        更多&gt;&gt;
                    </a>
                </div>
            </div>
            <ul class="productlist">
<% bestGs.forEach(function(b){ %>
                <li>
                    <a href="/goods?_id=<%=b._id%>">
                        <img src="<%=b.goods_img%>" alt="<%=b.goods_name%>" style="width:100px;height:100px;"/>
                    </a>
                    <p class="pname" style="padding: 0 30px;">
                        <a href="/goods?_id=<%=b._id%>" title="<%=b.goods_name%>">
                            <%=b.goods_name%>
                        </a>
                    </p>
                    <p class="price">
                        ￥<%=b.shop_price%>元
                    </p>
                </li>
<% }) %>
            </ul>
            <div class="clear"></div>
            <div class="mainheader">
                <div class="lowerbuy">
                    <a href="javascript:void(0)">
                        更多&gt;&gt;
                    </a>
                </div>
            </div>
            <ul class="productlist">
<% hotGs.forEach(function(h){ %>
                <li>
                    <a href="/goods?_id=<%=h._id%>">
                        <img src="<%=h.goods_img%>" alt="<%=h.goods_name%>" style="width:100px;height:100px;"/>
                    </a>
                    <p class="pname" style="padding: 0 30px;">
                        <a href="/goods?_id=<%=h._id%>" title="<%=h.goods_name%>">
                            <%=h.goods_name%>
                        </a>
                    </p>
                    <p class="price">
                        ￥<%=h.shop_price%>元
                    </p>
                </li>
<% }) %>
            </ul>
            <div class="clear"></div>
            <div class="mainheader">
                <div class="newproduct">
                    <a href="javascript:void(0)">
                        更多&gt;&gt;
                    </a>
                </div>
            </div>
            <ul class="productlist">
<% newGs.forEach(function(n){ %>
                <li>
                    <a href="/goods?_id=<%=n._id%>">
                        <img src="<%=n.goods_img%>" alt="<%=n.goods_name%>" style="width:100px;height:100px;"/>
                    </a>
                    <p class="pname" style="padding: 0 30px;">
                        <a href="/goods?_id=<%=n._id%>" title="<%=n.goods_name%>">
                            <%=n.goods_name%>
                        </a>
                    </p>
                    <p class="price">
                        ￥<%=n.shop_price%>元
                    </p>
                </li>
<% }) %>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    </div>
    <div class="footert">
        <div class="footertl">
            <div class="footert_1">
                <img src="/images/logo21.gif">
            </div>
            <div class="footert_2">
                抢购热线（9:00-18:00）
                <p>
                    <img src="/images/tel2.gif">
                </p>
            </div>
        </div>
        <div class="footertr">
            <div class="footertr_t">
                好趣购是货真价实的网络直销商城，好趣购所售手机全部都是厂家直接供货，没有任何中间批发 和分销环节，让您以最低价格，购买到性价比最高的手机。
            </div>
            <div class="footertr_b">
                <dl class="footertr_d1">
                    <dt>
                    </dt>
                    <dd>
                        会员积分计划
                    </dd>
                </dl>
                <dl>
                    <dt>
                    </dt>
                    <dd>
                        免费订购热线
                    </dd>
                </dl>
                <dl class="footertr_d3">
                    <dt>
                    </dt>
                    <dd>
                        3000城市送货上门
                    </dd>
                </dl>
                <dl class="footertr_d4">
                    <dt>
                    </dt>
                    <dd>
                        品牌厂商直接供货
                    </dd>
                </dl>
                <dl class="footertr_d5">
                    <dt>
                    </dt>
                    <dd>
                        中国人保承保
                    </dd>
                </dl>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        <div class="foottop">
            <dl>
                <dt>
                    新手上路
                </dt>
                <dd>
                    <a href="javascript:void(0)" title="售后流程">
                        售后流程
                    </a>
                </dd>
                <dd>
                    <a href="javascript:void(0)" title="购物流程">
                        购物流程
                    </a>
                </dd>
                <dd>
                    <a href="javascript:void(0)" title="订购方式">
                        订购方式
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>
                    手机常识
                </dt>
                <dd>
                    <a href="javascript:void(0)" title="如何分辨原装电池">
                        如何分辨原装电池
                    </a>
                </dd>
                <dd>
                    <a href="javascript:void(0)" title="如何分辨水货手机 ">
                        如何分辨水货手机
                    </a>
                </dd>
                <dd>
                    <a href="javascript:void(0)" title="如何享受全国联保">
                        如何享受全国联保
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>
                    配送与支付
                </dt>
                <dd>
                    <a href="javascript:void(0)" title="货到付款区域">
                        货到付款区域
                    </a>
                </dd>
                <dd>
                    <a href="javascript:void(0)" title="配送支付智能查询 ">
                        配送支付智能查询
                    </a>
                </dd>
                <dd>
                    <a href="javascript:void(0)" title="支付方式说明">
                        支付方式说明
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>
                    会员中心
                </dt>
                <dd>
                    <a href="javascript:void(0)" title="资金管理">
                        资金管理
                    </a>
                </dd>
                <dd>
                    <a href="javascript:void(0)" title="我的收藏">
                        我的收藏
                    </a>
                </dd>
                <dd>
                    <a href="javascript:void(0)" title="我的订单">
                        我的订单
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>
                    服务保证
                </dt>
                <dd>
                    <a href="javascript:void(0)" title="退换货原则">
                        退换货原则
                    </a>
                </dd>
                <dd>
                    <a href="javascript:void(0)" title="售后服务保证 ">
                        售后服务保证
                    </a>
                </dd>
                <dd>
                    <a href="javascript:void(0)" title="产品质量保证 ">
                        产品质量保证
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>
                    联系我们
                </dt>
                <dd>
                    <a href="javascript:void(0)" title="网站故障报告">
                        网站故障报告
                    </a>
                </dd>
                <dd>
                    <a href="javascript:void(0)" title="选机咨询 ">
                        选机咨询
                    </a>
                </dd>
                <dd>
                    <a href="javascript:void(0)" title="投诉与建议 ">
                        投诉与建议
                    </a>
                </dd>
            </dl>
            <div class="foottop_r" onClick="window.location.href = '#'">
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="footbot">
            <a href="javascript:void(0)">
                免责条款
            </a>
            |
            <a href="javascript:void(0)">
                隐私保护
            </a>
            |
            <a href="javascript:void(0)">
                咨询热点
            </a>
            |
            <a href="javascript:void(0)">
                联系我们
            </a>
            |
            <a href="javascript:void(0)">
                公司简介
            </a>
            |
            <a href="javascript:void(0)">
                批发方案
            </a>
            |
            <a href="javascript:void(0)">
                配送方式
            </a>
            <p>
                &copy; 2005-2011 ECSHOP 版权所有，并保留所有权利。
            </p>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</body>

</html>